<div
  class="container"
  style="width: 600px; margin-top: 30px; border-radius: 30px;"
>
  <h2>Entry QR code scanner</h2>

  <!-- ngx-scanner-qrcode -->
  <ngx-scanner-qrcode
    #action="scanner"
    [config]="config"
    (event)="onEvent($event, action)"
  
  ></ngx-scanner-qrcode>

  <!-- data  -->
  <!-- <p class="data">{{ (action.data | async | json) }}</p> -->

  <!-- loading -->
  <p *ngIf="action.isLoading">⌛ Loading...</p>

  <div style="height: 20px; width: 30px; border-radius: 20px; margin-left: 50px;"></div>

  <!-- start/stop -->
  <button
      class="btn"
      [class.btn-info]="!action.isStart"
      [class.btn-warning]="action.isStart"
      [disabled]="action.isLoading"
      (click)="handle(action, action.isStart ? 'stop' : 'start')"
    >
      <img
        [src]="
          action.isStart
            ? 'https://id1945.github.io/images/svg/camera-off.svg'
            : 'https://id1945.github.io/images/svg/camera-on.svg'
        "
        width="30px"
      />
    </button>

  <!-- play/pause -->

  <!-- isTorch -->
  <!-- <button
      class="btn"
      [class.btn-info]="!action.isStart"
      [class.btn-warning]="action.isStart"
      [disabled]="!action.isStart"
      (click)="action.isTorch = !action.isTorch; handle(action, 'torcher')"
    >
      <img
        [src]="
          action.isTorch
            ? 'https://id1945.github.io/images/svg/flash-off.svg'
            : 'https://id1945.github.io/images/svg/flash-on.svg'
        "
        width="30px"
      />
    </button> -->

  <!-- download -->

  <!-- for select files -->

  <!-- <div class="d-flex justify-content-center my-2"> -->
  <!-- <div class="col-xs-12 col-md-3 m-1">
        <select
          #select3
          (change)="percentage = +select3.value"
          class="form-select form-select-md"
        >
          <option
            *ngFor="let item of [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
            [value]="item"
            [selected]="item == percentage"
          >
            Scale {{ item }}%
          </option>
        </select>
      </div> -->
  <!-- <div class="col-xs-12 col-md-3 m-1">
        <select
          #select4
          (change)="quality = +select4.value"
          class="form-select form-select-md"
        >
          <option
            *ngFor="let item of [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]"
            [value]="item"
            [selected]="item == quality"
          >
            Quality {{ item }}%
          </option>
        </select>
      </div> -->
  <!-- </div> -->

  <!-- <p class="data">{{ (actionFile.data | async | json) }}</p> -->
</div>

